# Pandas Exercise: Merging (MPG Cars)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [2]:
cars1= pd.read_csv('D:\Profiles\ugogna\Desktop\DS\cars1.csv')
cars2= pd.read_csv('D:\Profiles\ugogna\Desktop\DS\cars2.csv')

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
Unnamed: 9      0 non-null float64
Unnamed: 10     0 non-null float64
Unnamed: 11     0 non-null float64
Unnamed: 12     0 non-null float64
Unnamed: 13     0 non-null float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.7+ KB

In [9]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
mpg             200 non-null float64
cylinders       200 non-null int64
displacement    200 non-null int64
horsepower      200 non-null object
weight          200 non-null int64
acceleration    200 non-null float64
model           200 non-null int64
origin          200 non-null int64
car             200 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB

In [4]:
cars1.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [5]:
cars1 = cars1.drop(cars1.columns[[9, 10, 11,12,13]], axis=1)

In [6]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

### Step 5. What is the number of observations in each dataset?

In [8]:
cars1.count()

mpg             198
cylinders       198
displacement    198
horsepower      198
weight          198
acceleration    198
model           198
origin          198
car             198
dtype: int64

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [10]:
cars = pd.merge(cars1,cars2,on='mpg',how='outer')

In [11]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 528 entries, 0 to 527
Data columns (total 17 columns):
mpg               528 non-null float64
cylinders_x       386 non-null float64
displacement_x    386 non-null float64
horsepower_x      386 non-null object
weight_x          386 non-null float64
acceleration_x    386 non-null float64
model_x           386 non-null float64
origin_x          386 non-null float64
car_x             386 non-null object
cylinders_y       486 non-null float64
displacement_y    486 non-null float64
horsepower_y      486 non-null object
weight_y          486 non-null float64
acceleration_y    486 non-null float64
model_y           486 non-null float64
origin_y          486 non-null float64
car_y             486 non-null object
dtypes: float64(13), object(4)
memory usage: 74.2+ KB

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [15]:
cars['owner'] = np.random.randint(15000,73000, size=len(cars))

### Step 8. Add the column owners to cars

In [16]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 528 entries, 0 to 527
Data columns (total 18 columns):
mpg               528 non-null float64
cylinders_x       386 non-null float64
displacement_x    386 non-null float64
horsepower_x      386 non-null object
weight_x          386 non-null float64
acceleration_x    386 non-null float64
model_x           386 non-null float64
origin_x          386 non-null float64
car_x             386 non-null object
cylinders_y       486 non-null float64
displacement_y    486 non-null float64
horsepower_y      486 non-null object
weight_y          486 non-null float64
acceleration_y    486 non-null float64
model_y           486 non-null float64
origin_y          486 non-null float64
car_y             486 non-null object
owner             528 non-null int32
dtypes: float64(13), int32(1), object(4)
memory usage: 76.3+ KB